body {background-color: rgb(255, 255, 255);

}


header{
    position: fixed;
    background-color: rgb(153, 152, 152);
    width:100%;
    top: 0%;
    overflow: hidden;
    left: 0%;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    box-shadow:4px 4px 8px #000000 ;
}

#navli {
    margin-left: 200px;
    display: inline;
    border-radius: 2px;
    top: 0px;
    height: 100%;
    font-size: 30px;
    font-weight: 4000;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

a{
    color: rgb(255, 255, 255);
    text-decoration: none;

}

img{
    margin-left: 300px;
}

h1{
    margin-top: 150px;
    margin-bottom: 50px;
    margin-left: 400px;
    font-size: 60px;
    color: darkgrey;
}