* {box-sizing: border-box;
}

body{
    background-color: rgb(63, 63, 63);
}
    

header{
background-color:rgb(255, 255, 255);
width: 100%;
position: fixed;
left: 0%;
top: 0%;
border-top: 8px solid black;
border-bottom: 1px solid black;
box-shadow: 2px 2px 4px black;

}

nav{
    margin-left: 450px;
}
.navli{
    display: inline-flex;
    margin-left: 25px;
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-family: 'Redressed', cursive;
    
    
}

a{
    text-decoration: none;
    color: black;

}

.logo{
    float: left;
    margin-left: 200px;
    font-family: 'Redressed', cursive;
    font-size: 15px;
}


.logo h2{
    margin-bottom: 0%;
}
.logo h6{
    margin-top: 0%;
    color: rgb(145, 145, 145);
}

.imglogo img{
    width: 130px;
    height: 65px;
    float: right;
    margin-right: 200px;
    
    
}


.family img{
    width: 100%;
    border-bottom: 40px solid rgb(41, 41, 41);
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 50px;
}

.family h2{
    color: blanchedalmond;
    margin-left: 520px;
    margin-top: -35px;
    box-shadow: 2px 2px 2px black;
    font-size: 18px;
}

.cutter img {
    margin-top: 100px;
    margin-left: 250px;
    box-shadow: 5px 5px 5px rgb(56, 56, 56);
    border-radius: 15px;

}

.cutter2{
    float: right;
    margin-right: 250px;
    margin-top: 120px;
    color: rgb(184, 168, 141);
    font-family: 'RocknRoll One', sans-serif;
    
}

.cutter3{
    
    color: rgb(255, 255, 255);
    font-family: 'RocknRoll One', sans-serif;
    margin-left: 670px;
    margin-top: -250px;
    font-size: 14px;
    
}

.chinook img{
    
    float: right;
    margin-right: 50px;
    margin-top: 200px;
    margin-bottom: 100px;
    

}

.chinook2{
    float: right;
    margin-right: 250px;
    margin-top: 220px;
    color: rgb(184, 168, 141);
    font-family: 'RocknRoll One', sans-serif;

}


.chinook3{
    color: rgb(255, 255, 255);
    font-family: 'RocknRoll One', sans-serif;
    float: left;
    margin-top: -200px;
    margin-right: 550px;
    margin-left: 50px;
    font-weight: lighter;
    font-size: 11px;
}

.location{
    margin-top: 600px;
    margin-left: 500px;
    color: rgb(184, 168, 141);
    font-family: 'RocknRoll One', sans-serif;


}

.locationlogo img{
    width: 60x;
    height: 100px;
    margin-left: 50px;
}

.locaphoto img{
    border-radius: 15px;
    margin-top: 20px;
    margin-left: 100px;
}

.localist{
    color: rgb(184, 168, 141);
    font-family: 'RocknRoll One', sans-serif;
    font-size: 30px;
    display: grid;
    margin-left: 200px;
    margin-right: 350px;
    text-align: center;
    
}



footer{
    background-color: rgb(40, 40, 40);
    width:100%;
    top: 0%;
    overflow: hidden;
    left: 100%;
    color: rgb(255, 255, 255);
    padding-top: 10px;
    margin-left: -5px;
    margin-bottom: -10px;
    padding-right: 15px;
    font-family: 'RocknRoll One', sans-serif;
    text-align: center;
    
} 